:root {
    --hor-pad: 40px;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,300&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

a {
    color: white;
    text-decoration: none;
}

.main-sections {
    min-height: 500px;
    /* border: 1px solid black; */
}

.hor-container {
    height: 100%;
    max-width: 1200px;
    min-width: 500px;
    margin: auto;
}

.intro-section {
    background-color: #1F2937;
}

.header {
    height: 100px;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;

    padding-left: var(--hor-pad);
    padding-right: var(--hor-pad);
    margin-bottom: 50px;
}

.header .logo {
    flex: 1;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.header-links {
    flex: 0 1 500px;
    display: flex;
    color: white;

}

.header-links a {
    flex: 1;
    text-align: right;
}

.welcome {
    height: 350px;
    /* border: 1px solid black; */
    display: flex;
    gap: 40px;
    padding-left: var(--hor-pad);
    padding-right: var(--hor-pad);

}

.welcome-image,
.welcome-message {
    flex: 1 0 400px;
    color: white;
}

#welcome-header {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
}

#welcome-paragraph {
    color: #e5e7eb;
    margin-bottom: 20px;
}

.blue-button {
    transition-duration: 0.4s;

    background-color: #3882F6;
    color: white;
    border: none;
    padding: 5px 20px;
    border-radius: 8px;
}

.blue-button:hover {
    background-color: #2d62b8;
    cursor:pointer;
}

.welcome-image {
    flex:0 1 450px;
    height: auto;
    justify-content: right;
    padding-bottom: 50px;
}

.intro-title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: 700;
}

.picture-boxes {
    display: flex;
    margin: var(--hor-pad);
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 50px;
}

.pic-box {
    flex: 0 0 200px;
    height: 300px;
    margin-bottom: 50px;
}

.pic-capt {
    text-align: center;
}

.pug-pics {
    border: 6px solid #2d62b8;
    height: 200px;
    width: 200px;
    border-radius: 40px;
    margin-bottom: 10px;
    object-fit: cover;
}

.quote-section {
    display: flex;
    margin-top: 50px;
    background-color: #e5e7eb;
}

.inspo-quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
}

.quote-attr {
    text-align: right;
    margin-right: 100px;
    font-weight: 700;
}





